name: Pull Request Validation

on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  go-mod:
    strategy:
      matrix:
        name:
          - oldstable
          - stable
          - tip
        include:
          - name: oldstable
            version: "1.24"
          - name: stable
            version: "1.25"
    runs-on: ubuntu-latest
    steps:
      - name: Install Go v${{ matrix.name }}
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: ${{ matrix.version }}
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Check module vendoring
        run: |
          go mod tidy
          go mod vendor
          git diff --exit-code
  build:
    strategy:
      matrix:
        name:
          - oldstable
          - stable
          - tip
        include:
          - name: oldstable
            version: "1.24"
          - name: stable
            version: "1.25"
    runs-on: ubuntu-latest
    steps:
      - name: Install Go v${{ matrix.name }}
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: ${{ matrix.version }}
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Go code prechecks
        run: |
          go build ./...
  unit-test:
    strategy:
      matrix:
        name:
          - oldstable
          - stable
          - tip
        include:
          - name: oldstable
            version: "1.24"
          - name: stable
            version: "1.25"
    runs-on: ubuntu-latest
    steps:
      - name: Install Go v${{ matrix.name }}
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: ${{ matrix.version }}
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Go code prechecks
        run: |
          go test ./...
  lint:
    runs-on: ubuntu-latest
    needs: unit-test
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Run golangci lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.4.0
          # use our .golangci.yml
          args: --config=.golangci.yml --verbose
          skip-cache: true
