name: Pull Request Validation

on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  go-mod:
    strategy:
      matrix:
        name:
          - oldstable
          - stable
          - tip
        include:
          - name: oldstable
            version: "1.24"
          - name: stable
            version: "1.25"
    runs-on: ubuntu-latest
    steps:
      - name: Install Go v${{ matrix.name }}
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: ${{ matrix.version }}
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - name: Check module vendoring
        run: |
          go mod tidy
          go mod vendor
          git diff --exit-code
  build:
    strategy:
      matrix:
        name:
          - oldstable
          - stable
          - tip
        include:
          - name: oldstable
            version: "1.24"
          - name: stable
            version: "1.25"
    runs-on: ubuntu-latest
    steps:
      - name: Install Go v${{ matrix.name }}
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: ${{ matrix.version }}
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - name: Go code prechecks
        run: |
          go build ./...
  unit-test:
    strategy:
      matrix:
        name:
          - oldstable
          - stable
          - tip
        include:
          - name: oldstable
            version: "1.24"
          - name: stable
            version: "1.25"
    runs-on: ubuntu-latest
    steps:
      - name: Install Go v${{ matrix.name }}
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: ${{ matrix.version }}
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - name: Go code prechecks
        run: |
          go test ./...
  lint:
    runs-on: ubuntu-latest
    needs: unit-test
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - name: Run golangci lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: v2.4.0
          # use our .golangci.yml
          args: --config=.golangci.yml --verbose
          skip-cache: true
